<h1 class="display-6 text-center" *ngIf='isContractDestroyed'>Current Contract instance has been
	<b>Destroyed!</b>
</h1>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
	<div class="col-md-5 p-lg-5 mx-auto my-5 on-top">
		<h1 class="display-3 font-weight-normal">Decentralized Domain Name System</h1>
		<br>
		<a class="btn btn-lg btn-outline-dark" [routerLink]="[ '/domain' ]">Register A Domain!</a>
	</div>
	<div class="product-device box-shadow d-none d-md-block" style="z-index: 0"></div>
	<div class="product-device product-device-2 box-shadow d-none d-md-block" style="z-index: 0"></div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
	<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
		<div class="my-3 py-3">
			<h2 class="display-5">Current Registration Cost</h2>
			<p class="lead">{{contractInfo.registrationCost}} ETH</p>
			<p class="blockquote-footer">
				<i>Additional fees may apply</i>
			</p>
		</div>
		<div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
	</div>
	<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">Current Expiry Period</h2>
			<p class="lead">{{contractInfo.expiryPeriod}} Days</p>
		</div>
		<div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
	</div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
	<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">Current Contract Owner</h2>
			<p class="lead">{{contractInfo.owner}}</p>
		</div>
		<div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
	</div>
	<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">Current Contract Wallet</h2>
			<p class="lead">{{contractInfo.wallet}}</p>
		</div>
		<div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
	</div>
</div>